body{
  background-color: #f6f6f6;
}

input{
  position: relative;
  font-size: 200%;
  height: 50px;
  width: 250px;
  margin-top: 30px;
  border-style: solid;
  border-color: #6d737c;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#random{
  position: relative;
  font-size: 200%;
  height: 50px;
  width: 250px;
  margin-top: 30px;
  border-style: solid;
  border-color: #6d737c;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#random:hover{
  background-color: grey;
}

.search{
  position: relative;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  width : 1000px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #6d737c;
}

.search:hover{
  background-color: grey;
}
